/* Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');
 */

/* @import url('https://fonts.cdnfonts.com/css/nyght-serif'); */


/* Nyght Serif Regular */
@font-face {
    font-family: 'Nyght Serif';
    src: url('../nyght-serif-main/fonts/WEB/NyghtSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Nyght Serif Italic */
@font-face {
    font-family: 'Nyght Serif';
    src: url('../nyght-serif-main/fonts/WEB/NyghtSerif-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Nyght Serif Bold */
@font-face {
    font-family: 'Nyght Serif';
    src: url('../nyght-serif-main/fonts/WEB/NyghtSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'Nyght Serif', sans-serif;
    margin: 0;
    font-size: 14px;
}

/* All headings (h1, h2, etc.) bold */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nyght Serif', serif;
    font-weight: bold; /* Make headings bold */
    font-size: 1.5rem;
}

/* All subheadings light italic - if 'light' is not available, just italic is used */
.subheading {
    font-family: 'Nyght Serif', serif;
    font-style: italic;
    font-weight: lighter; /* Use 'lighter' if available, otherwise just italic */
    font-size: 1.2rem;
}

/* All other text regular */
p, li, a, span, div {
    font-family: 'Nyght Serif', serif;
    font-weight: italic;
    font-style: normal;
/*     font-size: 1rem; */
}

body, h1, h2, h3, h4, h5, h6, p, li, a, span, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative; /* Ensure header has a stacking context */
}

.logo-and-line {
    display: flex;
    align-items: center;
}

#siteLogo {
    max-height: 60px; /* Adjust the height as needed */
    max-width: 100%; /* Ensures the logo is responsive */
    height: auto; /* Maintains aspect ratio */
    width: auto; /* Maintains aspect ratio */
}


.vertical-line {
    height: 50px; /* Adjust the height based on your header size */
    width: 1px;
    background-color: #000; /* Or any color that suits your design */
    margin-left: 20px; /* Adjust the space from the logo to the line */
}

.main-nav {
    display: flex;
    gap: 20px;
}

.logo h1 {
    font-family: 'Nyght Serif', serif;
    font-size: 24px; /* Adjust based on your preference */
    margin: 0;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Adjust the space between navigation items */
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        position: relative;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        background-color: #333;
        height: 3px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s ease;
    }

    .hamburger::before {
        top: -8px;
    }

    .hamburger::after {
        bottom: -8px;
    }
}


#siteLogo {
    max-height: 60px; /* Adjust the height as needed */
    max-width: 100%; /* Ensures the logo is responsive */
    height: auto; /* Maintains aspect ratio */
    width: auto; /* Maintains aspect ratio */
}


.feature-section {
    text-align: center;
    margin: 20px 0;
}

.feature-section h2 {
    /* font-family: 'Nyght Serif', serif; */
    margin-bottom: 8px;
}

.section-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Adjust spacing around the heading */
    /* font-family: 'Nyght Serif', serif; */
    /* font-size: 1.5rem; */
    color: #333; /* Adjust color as needed */
}


.cover-date {
    margin-bottom: 20px;
    /* font-size: 0.9rem; */
}

.magazine-cover-container {
    position: relative;
    display: inline-block;
}

.magazine-cover-container img {
    width: auto; /* maintain the image's aspect ratio */
    height: auto; /* maintain the image's aspect ratio */
    max-width: 300px; /* maximum width */
    max-height: 350px; /* maximum height */
    display: block; /* Fixes any alignment issues */
    margin: 0 auto; /* Centers the image */
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    /* font-size: 24px; */
}

.prev {
    left: -40px;
}

.next {
    right: -40px;
}

.cover-caption {
    margin-top: 20px;
    font-style: italic;
}


.article-preview-section hr {
    margin-top: 40px;
    border: none;
    height: 1px;
    background-color: #ccc; /* Thin line to separate sections */
}

.articles-container {
    max-width: 800px; /* Adjust this value based on your design preference */
    margin: 0 auto; /* Centers the container */
    display: flex;
    flex-direction: column;
    padding: 0 15px; /* Adds padding on the left and right */
}

/* .articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
} */

.article-preview {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust spacing between text and image */
    margin-bottom: 20px; /* Space between articles */
    border-bottom: 1px solid #ccc; /* Thin line as separator */
    padding-bottom: 20px; /* Add some padding to space out the content above the line */
}

/* .article-preview-section, .article-text {
    font-family: 'Nyght Serif', serif;
} */

/*
.article-preview:last-child {
    border-bottom: none; /* No border for the last article to avoid an extra line at the end 
} */


.article-text, .article-image {
    flex: 1;
}

.article-image {
    margin-left: 100px; /* Increase the left margin */
}


.read-more {
    /* background-color: #000; */
    color: #FF6734;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.article-image img {
    width: 100%;
    max-width: 200px; /* Keeps the image size consistent */
    height: auto;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .article-preview {
        flex-direction: column;
        align-items: flex-start;
    }

    .article-text {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .article-image img {
        max-width: 100%;
    }
}


/* Article section styling */
.article-preview-section {
    flex: 3; /* Takes up more space */
    /* Ensure the article section is not too wide or narrow */
    min-width: 0; /* For flexbox overflow handling */
}

/* Main content container */
.content-wrapper {
    display: flex;
    justify-content: center; /* Centers the content */
    gap: 20px; /* Space between articles and calendar */
    margin: 20px auto; /* Adjust as needed */
    max-width: 1200px; /* Or according to your design preference */
}


.subscribe-section {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 5% 2%; /* Adjust margins to add some space around */
}

.subscribe-section h2 {
    margin-bottom: 16px;
}

.subscribe-section p {
    margin-bottom: 20px; /* Adjusted for consistent spacing */
}

.subscribe-section form {
    display: grid;
    gap: 12px; /* Increased gap for better spacing */
}

.subscribe-section input[type="email"] {
    width: calc(100% - 20px); /* Adjust width to prevent reaching the border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto; /* Center the input field */
}

.subscribe-section button {
    padding: 10px;
    background-color: #09133F; /* Ensure this matches your desired color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button take full width of its container */
}

/* Ensure the subscribe button reflects the specified color */
.subscribe-section button[type="submit"] {
    background-color: #09133F; /* Adjust if necessary to match the correct color */
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .subscribe-section {
        /* Ensure both sections take full width on smaller screens */
        flex: none;
        width: 100%;
        max-width: 600px; /* Adjust based on your layout */
        margin: 20px auto; /* Center the sections with some margin */
    }
}

/* Media Queries */
@media (max-width: 768px) { /* Tablets and below */
    body {
        font-size: 14px; /* Smaller base font size */
    }

    .main-nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) { /* Mobile phones */
    .site-header {
        flex-direction: column;
        gap: 10px;
    }

    .main-nav ul {
        width: 100%;
        justify-content: center;
    }

    .articles-container {
        grid-template-columns: 1fr; /* Stack articles on small screens */
    }

    .feature-section h2, .article-preview h3 {
        font-size: 1rem; /* Adjust heading sizes for smaller screens */
    }

    .subscribe-section, .site-footer {
        padding: 15px; /* Smaller padding on small screens */
    }
}

@media (min-width: 769px) and (max-width: 1024px) { /* Between tablets and laptops */
    /* Adjustments for devices in this range if necessary */
}

/*=============== CONTACT PAGE ===============*/
.contact-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 10px; /* Adjust padding if necessary */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* font-family: 'Nyght Serif', serif; */
    background-color: #F9FCFB;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #F16734;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    width: 100%; /* Full width to maximize the use of space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    width: calc(100% - 5px); /* Slightly reduces the width deduction for more space */
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea,
button[type="submit"] {
    width: calc(100% - 5px); /* Provides a wider form element within the container */
    padding: 10px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box; /* Includes padding and border in the element's total width */
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #09133F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #F16734;
}

@media screen and (max-width: 768px) {
    .contact-container, .form-group, label, input[type="text"], input[type="email"], textarea, button[type="submit"] {
        width: 95%; /* Expands the form elements to use more of the container's width on smaller screens */
    }
}


/*=============== FOOTER ===============*/
.site-footer {
    background-color: #2F394D;
    color: #fff;
    padding: 20px;
    /* font-size: 0.9rem; */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Updated for optimal arrangement */
    flex-wrap: wrap;
    text-align: center; /* Centers content for smaller sections */
}

.footer-section {
    flex: 1; /* Ensures equal width for each section */
    margin: 20px; /* Provides some spacing */
}

.footer-section h4 {
    color: #F16734; /* Highlight color for section titles */
}

.footer-section ul, .footer-section p {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Provides spacing around lists and paragraphs */
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover, .social-icons a:hover {
    color: #F16734; /* Interaction highlight color */
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .footer-content, .footer-section {
        flex: none; /* Resets flex settings for mobile */
        width: 100%; /* Each section takes full width */
        margin: 10px 0; /* Reduces margin for a tighter mobile layout */
    }

    .footer-section {
        text-align: center; /* Ensures centered content on smaller screens */
    }
}


/*=============== ABOUT ===============*/

.about-main-content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.about-content h2 {
    /* font-size: 2rem; */
    margin-bottom: 20px;
    color: #F16734;
}

.about-content p {
    /* font-size: 1rem; */
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Add responsive design */
@media (max-width: 768px) {
    .about-main-content {
        margin: 20px;
        padding: 15px;
    }

/*     .about-content h2 {
        font-size: 1.5rem;
    } */
}

.team-member {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center align items for better presentation */
    text-align: center; /* Ensure text is centered */
    margin-bottom: 20px; /* Add some space below each team member */
    padding: 20px; /* Add some padding around the content */
    background-color: var(--container-color); /* Use your container color variable or choose a background */
    border-radius: 10px; /* Optionally round the corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Add a subtle shadow for depth */
    max-width: 300px; /* Set a max-width for the container */
    margin: auto; /* Center the team member container in the section */
    margin-bottom: 40px; /* Add some space below each team member */
}

.team-member img {
    width: 150px; /* Adjust the size of the image */
    height: 150px; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 20px; /* Add space below the image */
    object-fit: cover; /* Ensure the image covers the area properly */
}

.team-member h3 {
    margin-bottom: 10px; /* Add space below the name */
}

.team-member p {
    margin-bottom: 10px; /* Add space between paragraphs */
}

/* If you're using a light theme or want specific styling for light mode */
.light-theme .team-member {
    background-color: #fff; /* Light background for light mode */
    color: var(--text-color); /* Ensure text color is readable */
}


.content-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px; /* Space between sections */
}

.content-text, .content-image {
    flex: 1 1 45%; /* Each takes up to 45% of the container width */
    max-width: 45%; /* Prevents the content from taking more than 45% of the width */
    margin: 20px; /* Adds some space around the text and image for breathing room */
}

.content-image img {
    width: 100%;
    max-width: 400px; /* Adjust based on your preference */
    height: auto;
    display: block; /* Fixes any alignment issues */
    margin: 0 auto; /* Centers the image */
}

@media screen and (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }

    .content-text, .content-image {
        flex: 1 1 100%; /* Allows each to take full width on smaller screens */
        max-width: 100%; /* Adjusts max-width for smaller screens */
    }
}


@media screen and (max-width: 768px) {
    .team-member {
        flex-direction: column;
        align-items: center;
    }

    .team-member img {
        margin-bottom: 10px;
    }
}